<html>
  <body>
    <form method='post' action='/posts/<%=@post.id%>'>
      <input id='hidden' type='hidden' name='_method' value='patch'>
      <p>Name: <input type='text' value='<%=@post.name%>' name='name'></p>
      <p>Content: <input type='text' value='<%=@post.content%>' name='content'></p>
      <input value='submit' id='submit' type='submit'>
    </form>
  </body>
</html>